

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:rgb(55, 107, 175);
    font-family: 'Open Sans', sans-serif;
    overflow-X: hidden;
}
hr{
    position: relative;
    margin: 4px;
    
}

h1{
    position: relative;
    font-size: 36px;
    text-align: center;
    margin: 20px auto;
    color:#fff;
    cursor: pointer;
   
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#d7e058,#d85c2c,#423101, rgb(0, 0, 0));
    clip-path: circle(18% at 15% 50%);

    
}

.gridbox{
    position: relative;
	display:grid;
    grid-gap:5px;
    justify-content: center;
    grid-template-columns:repeat(auto-fill,minmax(230px, 5fr));
    align-items:space-around;
   
}

.box{
    display:flex;
    flex-direction:column;
    position: relative;
    margin: 10px;
    background:rgba(142, 210, 241, 0.3);
    border-top:1px solid rgba(255, 255, 255, 0.5);
    border-left:1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3);
     cursor: pointer;
}
.box:hover{

    box-shadow:4px 4px 15px #d85c2c;
}
.box p{
    display:block;
    position: relative;
    width: 100%;
    margin: auto;
    background:#d85c2c;
    color:#423101;
    text-align: center;
    border-radius:0 0 15px 15px;
    font-size: 24px;
    transform: translateY(30px);
    opacity: 0;
    transition: 0.2s;
}
.box:hover p{
    transform: translateY(0);
    opacity: 1;
    transition: 0.8s;
}

.box img{
    max-width: 100%;
}

@media only screen and (max-width: 900px) { 
    .box p {
        transform: translateY(0);
        opacity: 1;
    } 
} 
